<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi primer proyecto</title>
    </head>
    <body>
        <h1 align="center">Heroes</h1> 
        <a href="">Babbage</a>
        <a href="">Berners-Lee</a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/babbage">Babbage<img src="/img/babbage_1.jpg" alt="Babash"></a></li>
            <li><a href="/berners-lee">Berners-Lee<img src="/img/berners-lee.jpg" alt="el_berne"></a></li>
            <li><a href="/clarke">Clarke<img src="/img/clarke.jpg" alt="Clar"></a></li>
            <li><a href="/hamilton">Hamilton<img src="/img/hamilton.jpg" alt="Jamilton"></a></li>
            <li><a href="/hooper">Hooper<img src="/img/hooper_1.jpg" alt="joper"></a></li>
            <li><a href="/lovelace">Lovelace<img src="/img/lovelace.jpg" alt="lovleis"></a></li>
            <li><a href="/turing">Turing<img src="/img/turing.jpg" alt="turin"></a></li>
        </ul>

        <img src="https://loremipsum.io/assets/images/lorem-ipsum-generator-custom-placeholder-text.jpg" alt="El lorem">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quas sunt harum voluptatem eum veniam repudiandae dolor dolores illum deserunt, cum eos temporibus maxime vero eveniet reiciendis error numquam saepe!</p>

        
    </body>
</html>